@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #004369; 
  --background: #ece6d8;
  --card-background: #FFFFFF; 
  --text-color: #333333; 
  --secondary-text-color: #666666; 
  --accent-color: #01949A; 
  --error-color: #DC3545; 
  --on-blue : #ffffff;
}

:root.dark {
    --primary-color: #005d69;
    --background: #121212;
    --card-background: #1E1E1E; 
    --text-color: #E0E0E0; 
    --secondary-text-color: #B3B3B3; 
    --accent-color: #01949A; 
    --error-color: #F28B82; 
  }


body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body.dark {
  --primary-color: #004369;
  --background: var(--background);
  --card-background: #1E1E1E; 
  --text-color: #E0E0E0; 
  --secondary-text-color: #B3B3B3; 
  --accent-color: #28A745; 
  --error-color: #F28B82; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


 html, body {
  height: 100%;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}   
